<div class="services">
    <div class="container-fluid px-0">
        <div class="row no-gutters align-items-stretch">
            <div class="col-6 col-sm-6 col-md col-lg h-100">
                <a href="services.html#disease_identifier" class="service">
                    <div class="icon-wrap">
<!--                        <span class="flaticon-acupuncture-2"></span>-->
                        <span><i class="fas fa-heartbeat"></i></span>
                    </div>
                    <h3>Disease Identifier</h3>
                </a>
            </div>
            <div class="col-6 col-sm-6 col-md col-lg h-100">
                <a href="services.html#medics_diet" class="service">
                    <div class="icon-wrap">
<!--                        <span class="flaticon-herbal"></span>-->
                        <span><i class="fas fa-carrot"></i></span>
                    </div>
                    <h3>Medics and diet</h3>
                </a>
            </div>
            <div class="col-6 col-sm-6 col-md col-lg h-100">
                <a href="services.html#exercise_yoga" class="service">
                    <div class="icon-wrap">
<!--                        <span class="flaticon-acupuncture-1"></span>-->
                        <span><i class="fas fa-running"></i></span>
                    </div>
                    <h3>Exercise/Yoga</h3>
                </a>
            </div>
            <div class="col-6 col-sm-6 col-md col-lg h-100">
                <a href="services.html#alarm_remind" class="service">
                    <div class="icon-wrap">
<!--                        <span class="flaticon-therapy"></span>-->
                        <span>   <i class="fa fa-clock-o" ></i></span>
                    </div>
                    <h3>Alarm/Remind Me!</h3>
                </a>
            </div>
            <div class="col-6 col-sm-6 col-md col-lg h-100">
                <a href="services.html#medics_nearby" class="service">
                    <div class="icon-wrap">
<!--                        <span class="flaticon-acupuncture"></span>-->
<!--                        <img src="006-nearby.svg">-->
                        <span><i class="fas fa-search-location"></i></span>

                    </div>
                    <h3>Medics nearby me</h3>
                </a>
            </div>
            <div class="col-6 col-sm-6 col-md col-lg h-100">
                <a href="services.html#find_doc" class="service">
                    <div class="icon-wrap">
                                <span><i class="fas fa-user-md"></i></span>
                    </div>
                    <!-- <div class="icon-wrap">
        <span href="https://www.flaticon.com/authors/becris" class="flaticon-acupunture"></span>
        </div> -->
                    <h3>Find a Doc!</h3>
                </a>
            </div>
        </div>
    </div>
</div>

