<%-include("partials/header")-%>

<div class="hero"
      style="background-image: url('images/health-concept-stethoscope-on-black-260nw-1017037081_auto_x2.jpg');">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-8 intro text-center">
            <h1 class="text-white">Features/Tools</h1>
            <a href="index.html">Home</a> <span class="mx-3 text-white">/</span> <strong
              class="text-white">Services</strong>
          </div>
        </div>
      </div>
    </div>

<!--    <div class="services">-->
<!--      <div class="container-fluid px-0">-->
<!--        <div class="row no-gutters align-items-stretch">-->
<!--          <div class="col-6 col-sm-6 col-md col-lg h-100">-->
<!--            <a class="service" href="#disease_identifier">-->
<!--              <div class="icon-wrap">-->
<!--                <span class="flaticon-acupuncture-2"></span>-->
<!--              </div>-->
<!--              <h3>Disease Identifier</h3>-->
<!--            </a>-->
<!--          </div>-->
<!--          <div class="col-6 col-sm-6 col-md col-lg h-100">-->
<!--            <a href="#medics_diet" class="service">-->
<!--              <div class="icon-wrap">-->
<!--                <span class="flaticon-herbal"></span>-->
<!--              </div>-->
<!--              <h3>Medics and diet</h3>-->
<!--            </a>-->
<!--          </div>-->
<!--          <div class="col-6 col-sm-6 col-md col-lg h-100">-->
<!--            <a href="#exercise_yoga" class="service">-->
<!--              <div class="icon-wrap">-->
<!--                <span class="flaticon-acupuncture-1"></span>-->
<!--              </div>-->
<!--              <h3>Exercise/Yoga</h3>-->
<!--            </a>-->
<!--          </div>-->
<!--          <div class="col-6 col-sm-6 col-md col-lg h-100">-->
<!--            <a href="#alarm_remind" class="service">-->
<!--              <div class="icon-wrap">-->
<!--                <span class="flaticon-therapy"></span>-->
<!--              </div>-->
<!--              &lt;!&ndash; <i class="fa fa-clock-o" style="font-size:85px;color:rgb(253, 253, 253)"></i> &ndash;&gt;-->
<!--              <h3>Alarm/Remind Me!</h3>-->
<!--            </a>-->
<!--          </div>-->
<!--          <div class="col-6 col-sm-6 col-md col-lg h-100">-->
<!--            <a href="#medics_nearby" class="service">-->
<!--              <div class="icon-wrap">-->
<!--                <span class="flaticon-acupuncture"></span>-->
<!--              </div>-->
<!--              <h3>Medics nearby me</h3>-->
<!--            </a>-->
<!--          </div>-->
<!--          <div class="col-6 col-sm-6 col-md col-lg h-100">-->
<!--            <a href="#find_doc" class="service">-->
<!--              <div class="icon-wrap">-->
<!--                <span href="https://www.flaticon.com/authors/becris" class="flaticon-acupuncture"></span>-->
<!--              </div>-->
<!--              &lt;!&ndash; <div class="icon-wrap"> -->
<!--                <span href="https://www.flaticon.com/authors/becris" class="flaticon-acupunture"></span>-->
<!--                </div> &ndash;&gt;-->
<!--              <h3>Find a Doc!</h3>-->
<!--            </a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->


<%-include("partials/bar")-%>
    <!-- original site set -->
    <!-- <div class="site-section">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mb-4">
              <a href="#" class="d-flex service-2">
                <div class="icon-wrap">
                  <span class="flaticon-acupuncture"></span>
                </div>
                <div class="contents">
                  <h3>Lorem ipsum dolor</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro culpa, eveniet nostrum omnis aliquid incidunt. Officia minus quae quasi earum!</p>
                </div>
              </a>
            </div>
            <div class="col-lg-6 mb-4">
              <a href="#" class="d-flex service-2">
                <div class="icon-wrap">
                  <span class="flaticon-acupuncture-1"></span>
                </div>
                <div class="contents">
                  <h3>Adipisicing Elit</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro culpa, eveniet nostrum omnis aliquid incidunt. Officia minus quae quasi earum!</p>
                </div>
              </a>
            </div>

            <div class="col-lg-6 mb-4">
              <a href="#" class="d-flex service-2">
                <div class="icon-wrap">
                  <span class="flaticon-therapy"></span>
                </div>
                <div class="contents">
                  <h3>Eveniet Nostrum Omnis</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro culpa, eveniet nostrum omnis aliquid incidunt. Officia minus quae quasi earum!</p>
                </div>
              </a>
            </div>
            <div class="col-lg-6 mb-4">
              <a href="#" class="d-flex service-2">
                <div class="icon-wrap">
                  <span class="flaticon-herbal"></span>
                </div>
                <div class="contents">
                  <h3>Officia Minus</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro culpa, eveniet nostrum omnis aliquid incidunt. Officia minus quae quasi earum!</p>
                </div>
              </a>
            </div>

            <div class="col-lg-6 mb-4">
              <a href="#" class="d-flex service-2">
                <div class="icon-wrap">
                  <span class="flaticon-lithotherapy"></span>
                </div>
                <div class="contents">
                  <h3>Eveniet Nostrum Omnis</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro culpa, eveniet nostrum omnis aliquid incidunt. Officia minus quae quasi earum!</p>
                </div>
              </a>
            </div>
            <div class="col-lg-6 mb-4">
              <a href="#" class="d-flex service-2">
                <div class="icon-wrap">
                  <span class="flaticon-acupuncture-2"></span>
                </div>
                <div class="contents">
                  <h3>Officia Minus</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro culpa, eveniet nostrum omnis aliquid incidunt. Officia minus quae quasi earum!</p>
                </div>
              </a>
            </div>

          </div>
        </div>
      </div> -->
    <!-- original site set -->



    <!-- added tool1 -->
    <div class="product">
      <div class="product-img">
        <img src="images/2103.i201.034_elderly_people_healthcare_isometric.jpg" alt="">
        <span class="tag">1.</span>

      </div>
      <!--  -->
      <div class="product-listing" id="disease_identifier">
        <div class="content">
          <h1 class="name">Disease Identifier</h1>
          <p class="info">This tool can be used to search any basic diseases by entering symptoms of that particular
            disease!</p>
          <!-- search box-->
          <form autocomplete="off" method="post" action="/disease" >
            <!--          <label for="search">Search</label>-->
            <div class="autocomplete" style="width:100%;">
              <input id="myInput2" type="search" pattern=".*\S.*" name="myCountry" required>
              <span class="caret"></span>
            </div>
            <input type="submit">

          </form>
          <%if(write!=0){%>
            <p class="info">you may be have:<%=disease%></p>
          <%}%>

          <!-- search box-->
        </div>
      </div>
    </div>
  </div>
  <!-- added tool1 -->
  <!-- added tool2 -->
  <div class="product" id="medics_diet">
    <div class="product-img">
      <img src="images/weight-loss-scale-with-centimeter-stethoscope-dumbbell-clipboard-pen-diet-concept.jpg" alt="">
      <span class="tag">2.</span>

    </div>
    <!--  -->
    <div class="product-listing">
      <div class="content">
        <h1 class="name">Medics and Diet</h1>
        <p class="info">This tool can be used to search some basic medics and suitable diet for disease you have!</p>
        <!-- search box-->
        <form autocomplete="off" method="post" action="/diets" >
<!--          <label for="search">Search</label>-->
          <div class="autocomplete" style="width:100%;">
            <input id="myInput" type="search" pattern=".*\S.*" name="myCountry" required>
            <span class="caret"></span>
          </div>
          <input type="submit">
        </form>
        <!-- search box-->
      </div>
    </div>
  </div>
  </div>
  <!-- added tool2 -->
  <!-- added tool3 -->
  <div class="product" id="exercise_yoga">
    <div class="product-img">
      <img src="images/31657.jpg" alt="">
      <span class="tag">3.</span>

    </div>
    <!--  -->
    <div class="product-listing">
      <div class="content">
        <h1 class="name">Exercise and yoga</h1>
        <p class="info">This tool can be used to search suitable exercise and yoga for health and according to problem
          you have!</p>
        <!-- search box-->
        <form autocomplete="off" method="post" action="/tretment" >
          <!--          <label for="search">Search</label>-->
          <div class="autocomplete" style="width:100%;">
            <input id="myInput1" type="search" pattern=".*\S.*" name="myCountry" required>
            <span class="caret"></span>
          </div>
          <input type="submit">
        </form>
<!--        <form >-->
<!--          <label for="search">Search</label>-->
<!--          <input id="search" type="search" pattern=".*\S.*" required>-->
<!--          <span class="caret"></span>-->
<!--        </form>-->
        <!-- search box-->
      </div>
    </div>
  </div>
  </div>
  <!-- added tool3 -->
  <!-- added tool4 -->
  <div class="product" id="alarm_remind">
    <div class="product-img">
      <img
        src="images/composition-with-plate-alarm-clock-measuring-tape-colored-background-diet-concept-weight-loss-plan-copy-space.jpg"
        alt="">
      <span class="tag">4.</span>

    </div>
    <!--  -->
    <div class="product-listing">
      <div class="content">
        <h1 class="name">Alarm/Remind me!</h1>
        <p class="info">This tool is used to set a reminder which will be sent to your phone no. for medicine as
          well as appointment you have with doctor</p>
        <!-- search box-->
        <form method="post" action="/notify">
<!--          <label for="search">Search</label>-->
<!--          <input id="search" type="search" pattern=".*\S.*" required>-->
<!--          <span class="caret"></span>-->
          <input type="datetime-local" name="datetime"><br>
          <input type="text" name="nmess" placeholder="Enter message :"><br>
<!--          <input type="checkbox"><br>-->
          <input type="submit">
        </form> 
        <!-- search box-->
      </div>
    </div>
  </div>
  </div>
  <!-- added tool4 -->
  <!-- added tool5 -->
  <div class="product" id="medics_nearby" >
    <div class="product-img">
      <img src="images/OJOBAH0.jpg" alt="">
      <span class="tag">5.</span>

    </div>
    <!--  -->
    <div class="product-listing">
      <div class="content">
        <a href="map.html"><h1 class="name">Medics nearby me!</h1></a>
        <p class="info">This tool can be used to search medical store nearby your loaction</p>
        <a href="map.html" style="color: white; text-align: center;font-size: 1.5rem;"><i class="fas fa-map-marked-alt" style="font-size: 2rem;"></i>  Find medic in your nearby</a>
        <!-- search box-->
        <!-- <form>
          <label for="search">Search</label>
          <input id="search" type="search" pattern=".*\S.*" required>
          <span class="caret"></span>
        </form> -->
        <!-- search box-->
      </div>
    </div>
  </div>
  </div>
  <!-- added tool5 -->
  <!-- added tool6 -->
  <div class="product" id="find_doc">
    <div class="product-img">
      <img src="images/young-handsome-physician-medical-robe-with-stethoscope.jpg" alt="">
      <span class="tag">6.</span>

    </div>
    <!--  -->
    <div class="product-listing">
      <div class="content">
        <h1 class="name">Find a doc!</h1>
        <p class="info">This tool can be used to search best doctors and treatment available by entering disease to
          given search box!</p>
        <!-- search box-->
        <form method="post" action="/docmap">
          <label for="search">Search</label>
          <input id="search" type="search" pattern=".*\S.*" required name="deisease">
          <span class="caret"></span>
        </form>
        <!-- search box-->
      </div>
    </div>
  </div>
  </div>
  <!-- added tool6 -->


    <%- include("partials/footer")-%>