<%-include("partials/header")-%>

<div class="hero" style="background-image: url('images/health-concept-stethoscope-on-black-260nw-1017037081_auto_x2.jpg');">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-8 intro text-center">
        <h1 class="text-white">Reviews</h1>
        <a href="index.html">Home</a> <span class="mx-3 text-white">/</span> <strong class="text-white">Reviews</strong>
      </div>
    </div>
  </div>
</div>
<%-include("partials/bar")-%>
<!--      <div class="site-section bg-light">-->
<!--        <div class="container">-->
<!--          <div class="row">-->
<!--            <div class="col-lg-7 text-center mx-auto">-->
<!--              <h2 class="section-heading"><strong>Happy Customers</strong></h2>-->
<!--              <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>    -->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="row">-->
<!--            <div class="col-lg-4 mb-4 mb-lg-4">-->
<!--              <div class="testimonial-2">-->
<!--                <blockquote class="mb-4">-->
<!--                  <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, deserunt eveniet veniam. Ipsam, nam, voluptatum"</p>-->
<!--                </blockquote>-->
<!--                <div class="d-flex v-card align-items-center">-->
<!--                  <img src="images/person_1.jpg" alt="Image" class="img-fluid mr-3">-->
<!--                  <div class="author-name">-->
<!--                    <span class="d-block">Mike Fisher</span>-->
<!--                    <span>Owner, Ford</span>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-lg-4 mb-4 mb-lg-4">-->
<!--              <div class="testimonial-2">-->
<!--                <blockquote class="mb-4">-->
<!--                  <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, deserunt eveniet veniam. Ipsam, nam, voluptatum"</p>-->
<!--                </blockquote>-->
<!--                <div class="d-flex v-card align-items-center">-->
<!--                  <img src="images/person_2.jpg" alt="Image" class="img-fluid mr-3">-->
<!--                  <div class="author-name">-->
<!--                    <span class="d-block">Jean Stanley</span>-->
<!--                    <span>Traveler</span>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-lg-4 mb-4 mb-lg-4">-->
<!--              <div class="testimonial-2">-->
<!--                <blockquote class="mb-4">-->
<!--                  <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, deserunt eveniet veniam. Ipsam, nam, voluptatum"</p>-->
<!--                </blockquote>-->
<!--                <div class="d-flex v-card align-items-center">-->
<!--                  <img src="images/person_3.jpg" alt="Image" class="img-fluid mr-3">-->
<!--                  <div class="author-name">-->
<!--                    <span class="d-block">Katie Rose</span>-->
<!--                    <span >Customer</span>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->

<!--            <div class="col-lg-4 mb-4 mb-lg-4">-->
<!--              <div class="testimonial-2">-->
<!--                <blockquote class="mb-4">-->
<!--                  <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, deserunt eveniet veniam. Ipsam, nam, voluptatum"</p>-->
<!--                </blockquote>-->
<!--                <div class="d-flex v-card align-items-center">-->
<!--                  <img src="images/person_1.jpg" alt="Image" class="img-fluid mr-3">-->
<!--                  <div class="author-name">-->
<!--                    <span class="d-block">Mike Fisher</span>-->
<!--                    <span>Owner, Ford</span>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-lg-4 mb-4 mb-lg-4">-->
<!--              <div class="testimonial-2">-->
<!--                <blockquote class="mb-4">-->
<!--                  <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, deserunt eveniet veniam. Ipsam, nam, voluptatum"</p>-->
<!--                </blockquote>-->
<!--                <div class="d-flex v-card align-items-center">-->
<!--                  <img src="images/person_2.jpg" alt="Image" class="img-fluid mr-3">-->
<!--                  <div class="author-name">-->
<!--                    <span class="d-block">Jean Stanley</span>-->
<!--                    <span>Traveler</span>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-lg-4 mb-4 mb-lg-4">-->
<!--              <div class="testimonial-2">-->
<!--                <blockquote class="mb-4">-->
<!--                  <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, deserunt eveniet veniam. Ipsam, nam, voluptatum"</p>-->
<!--                </blockquote>-->
<!--                <div class="d-flex v-card align-items-center">-->
<!--                  <img src="images/person_3.jpg" alt="Image" class="img-fluid mr-3">-->
<!--                  <div class="author-name">-->
<!--                    <span class="d-block">Katie Rose</span>-->
<!--                    <span >Customer</span>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->

<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<div class="site-section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 text-center mx-auto">
        <h2 class="section-heading"><strong> Happy Customers</strong></h2>
        <p class="mb-5">Inspiring stories of our Patients.</p>
        <!-- <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 mb-4 mb-lg-4">
        <div class="testimonial-2">
          <blockquote class="mb-4">
            <p>"I had an amazing experience here and was so satisfied with the service provided. It feels like
              having a personal caretaker. I would recommend it to everyone around me."</p>
          </blockquote>
          <div class="d-flex v-card align-items-center">
            <img src="images/person_1.jpg" alt="Image" class="img-fluid mr-3">
            <div class="author-name">
              <span class="d-block">Michael John</span>
              <span>Teacher</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4 mb-lg-4">
        <div class="testimonial-2">
          <blockquote class="mb-4">
            <p>"One of my colleagues recommended this website to me and I am so thankful for that. It helps me to
              take my medicines on time. HealthUtopia has now become an integral part of my life."</p>
          </blockquote>
          <div class="d-flex v-card align-items-center">
            <img src="images/person_2.jpg" alt="Image" class="img-fluid mr-3">
            <div class="author-name">
              <span class="d-block">Rose Brad</span>
              <span>HR Manager</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4 mb-lg-4">
        <div class="testimonial-2">
          <blockquote class="mb-4">
            <p>"I love HealthUtopia. It's so good and convenient to use. I don't need to remember anything like my
              appointments with the doctor and all. It also helps me to stay active and fit."</p>
          </blockquote>
          <div class="d-flex v-card align-items-center">
            <img src="images/person_3.jpg" alt="Image" class="img-fluid mr-3">
            <div class="author-name">
              <span class="d-block">Olivia Mason</span>
              <span>Marketing Executive</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-4 mb-lg-4">
        <div class="testimonial-2">
          <blockquote class="mb-4">
            <p>"I came to know about HealthUtopia recently and was so amazed by the services they provide. It was
              also very user-friendly. It helps me with my diet as well as exercise and that too for free!!"</p>
          </blockquote>
          <div class="d-flex v-card align-items-center">
            <img src="images/person_4.jpg" alt="Image" class="img-fluid mr-3">
            <div class="author-name">
              <span class="d-block">Ken Adams</span>
              <span>Photographer</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4 mb-lg-4">
        <div class="testimonial-2">
          <blockquote class="mb-4">
            <p>"Being a Model, I need to keep myself healthy and fit. With HealthUtopia, it becomes effortless to do
              so. It helps me in framing a balanced and suitable diet and exercises."</p>
          </blockquote>
          <div class="d-flex v-card align-items-center">
            <img src="images/person_5.jpg" alt="Image" class="img-fluid mr-3">
            <div class="author-name">
              <span class="d-block">Jill Baker</span>
              <span>Model</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4 mb-lg-4">
        <div class="testimonial-2">
          <blockquote class="mb-4">
            <p>"Being a diabetic, I need to take my medicines on time which I wasn’t able to do because of the
              killing schedule. But now, HealthUtopia reminds me of the same and also of my doc appointments."</p>
          </blockquote>
          <div class="d-flex v-card align-items-center">
            <img src="images/person_6.jpg" alt="Image" class="img-fluid mr-3">
            <div class="author-name">
              <span class="d-block">Shanaya Singh</span>
              <span>Businesswoman</span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<%- include("partials/footer")-%>