/* Base */
html {
  overflow-x: hidden; }

.font-size-10 {
  font-size: 10px; }

.font-size-11 {
  font-size: 11px; }

.font-size-12 {
  font-size: 12px; }

.font-size-13 {
  font-size: 13px; }

.font-size-14 {
  font-size: 14px; }

.font-size-15 {
  font-size: 15px; }

.font-size-16 {
  font-size: 16px; }

.font-size-17 {
  font-size: 17px; }

.font-size-18 {
  font-size: 18px; }

.font-size-19 {
  font-size: 19px; }

.font-size-20 {
  font-size: 20px; }

.font-size-21 {
  font-size: 21px; }

.font-size-22 {
  font-size: 22px; }

.font-size-23 {
  font-size: 23px; }

.font-size-24 {
  font-size: 24px; }

.font-size-25 {
  font-size: 25px; }

.font-size-26 {
  font-size: 26px; }

.font-size-27 {
  font-size: 27px; }

.font-size-28 {
  font-size: 28px; }

.font-size-29 {
  font-size: 29px; }

.font-size-30 {
  font-size: 30px; }

.font-gray-1 {
  color: #f7f7f7; }

.font-gray-2 {
  color: #e9e9e9; }

.font-gray-3 {
  color: #d9d9d9; }

.font-gray-4 {
  color: #c9c9c9; }

.font-gray-5 {
  color: #b8b8b8; }

.font-gray-6 {
  color: #a8a8a8; }

.font-gray-7 {
  color: #939393; }

.font-gray-8 {
  color: #7b7b7b; }

.font-gray-9 {
  color: #636363 #4d4d4d; }

.font-gray-10 {
  color: #353535; }

.border-gray-1 {
  border-color: #f7f7f7; }

.border-gray-2 {
  border-color: #e9e9e9; }

.border-gray-3 {
  border-color: #d9d9d9; }

.border-gray-4 {
  border-color: #c9c9c9; }

.border-gray-5 {
  border-color: #b8b8b8; }

.border-gray-6 {
  border-color: #a8a8a8; }

.border-gray-7 {
  border-color: #939393; }

.border-gray-8 {
  border-color: #7b7b7b; }

.border-gray-9 {
  border-color: #636363 #4d4d4d; }

.border-gray-10 {
  border-color: #353535; }

.bg-gray-1 {
  border-color: #f7f7f7; }

.bg-gray-2 {
  border-color: #e9e9e9; }

.bg-gray-3 {
  border-color: #d9d9d9; }

.bg-gray-4 {
  border-color: #c9c9c9; }

.bg-gray-5 {
  border-color: #b8b8b8; }

.bg-gray-6 {
  border-color: #a8a8a8; }

.bg-gray-7 {
  border-color: #939393; }

.bg-gray-8 {
  border-color: #7b7b7b; }

.bg-gray-9 {
  border-color: #636363 #4d4d4d; }

.bg-gray-10 {
  border-color: #353535; }

.letter-spacing-1 {
  letter-spacing: 0.1em; }

.letter-spacing-2 {
  letter-spacing: 0.2em; }

.border-w-1 {
  border-width: 1px; }

.border-w-2 {
  border-width: 2px; }

.border-w-3 {
  border-width: 3px; }

.border-w-4 {
  border-width: 4px; }

.border-w-5 {
  border-width: 5px; }

.primary-black--hover {
  background: #2fc4b2;
  color: #fff; }
  .primary-black--hover:hover {
    background: #000;
    color: #fff; }

.primary-dark--hover {
  background: #2fc4b2;
  color: #fff; }
  .primary-dark--hover:hover {
    background: gray;
    color: #fff; }

.primary-primary-outline--hover {
  background: #2fc4b2;
  color: #fff; }
  .primary-primary-outline--hover:hover {
    border-color: #2fc4b2;
    background: transparent; }

.primary-outline-primary--hover {
  background: transparent;
  border-color: #2fc4b2; }
  .primary-outline-primary--hover:hover {
    color: #fff;
    background: #2fc4b2; }

body {
  line-height: 1.7;
  color: #364d59 !important;
  font-weight: 300;
  font-size: 1rem;
  background: #fff; }

::-moz-selection {
  background: #000;
  color: #fff; }

::selection {
  background: #000;
  color: #fff; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  font-weight: 300;
  color: #364d59;
  font-family: "Playfair Display", serif; }

.border-2 {
  border-width: 2px; }

.text-black {
  color: #000 !important; }

.bg-black {
  background: #000 !important; }

.color-black-opacity-5 {
  color: rgba(0, 0, 0, 0.5); }

.color-white-opacity-5 {
  color: rgba(255, 255, 255, 0.5); }

.btn.btn-outline-white {
  border-color: #fff;
  background: transparent;
  color: #fff; }
  .btn.btn-outline-white:hover {
    background: #fff;
    border-color: #fff;
    color: #000; }

.line-height-1 {
  line-height: 1 !important; }

.bg-black {
  background: #000; }

.form-control {
  height: 55px;
  background-color: #fff !important;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }
  .form-control:active, .form-control:focus {
    border-color: #2fc4b2; }
  .form-control:hover, .form-control:active, .form-control:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }

.site-section {
  padding: 2.5em 0; }
  @media (min-width: 768px) {
    .site-section {
      padding: 5em 0; } }
  .site-section.site-section-sm {
    padding: 4em 0; }

.site-footer {
  padding: 4em 0; 
}
  @media (min-width: 768px) {
    .site-footer {
      padding: 8em 0; } }
  .site-footer .border-top {
    border-top: 1px solid rgba(255, 255, 255, 0.1) !important; }
  .site-footer a {
    color: rgba(0, 0, 0, 0.5); }
    .site-footer a:hover {
      color: black; }
  .site-footer ul li {
    margin-bottom: 10px; }
  .site-footer .footer-heading {
    font-size: 16px;
    color: #000; }

.bg-text-line {
  display: inline;
  background: #000;
  -webkit-box-shadow: 20px 0 0 #000, -20px 0 0 #000;
  box-shadow: 20px 0 0 #000, -20px 0 0 #000; }

.text-white-opacity-05 {
  color: rgba(255, 255, 255, 0.5); }

.text-black-opacity-05 {
  color: rgba(0, 0, 0, 0.5); }

.hover-bg-enlarge {
  overflow: hidden;
  position: relative; }
  @media (max-width: 991.98px) {
    .hover-bg-enlarge {
      height: auto !important; } }
  .hover-bg-enlarge > div {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .8s all ease-in-out;
    -o-transition: .8s all ease-in-out;
    transition: .8s all ease-in-out; }
  .hover-bg-enlarge:hover > div, .hover-bg-enlarge:focus > div, .hover-bg-enlarge:active > div {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }
  @media (max-width: 991.98px) {
    .hover-bg-enlarge .bg-image-md-height {
      height: 300px !important; } }

.bg-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  .bg-image.overlay {
    position: relative; }
    .bg-image.overlay:after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.7); }
  .bg-image > .container {
    position: relative;
    z-index: 1; }

@media (max-width: 991.98px) {
  .img-md-fluid {
    max-width: 100%; } }

@media (max-width: 991.98px) {
  .display-1, .display-3 {
    font-size: 3rem; } }

.play-single-big {
  width: 90px;
  height: 90px;
  display: inline-block;
  border: 2px solid #fff;
  color: #fff !important;
  border-radius: 50%;
  position: relative;
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out; }
  .play-single-big > span {
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-40%, -50%);
    -ms-transform: translate(-40%, -50%);
    transform: translate(-40%, -50%); }
  .play-single-big:hover {
    width: 120px;
    height: 120px; }

.overlap-to-top {
  margin-top: -150px; }

.ul-check {
  margin-bottom: 50px; }
  .ul-check li {
    position: relative;
    padding-left: 35px;
    margin-bottom: 15px;
    line-height: 1.5; }
    .ul-check li:before {
      left: 0;
      font-size: 20px;
      top: -.3rem;
      font-family: "icomoon";
      content: "\e5ca";
      position: absolute; }
  .ul-check.white li:before {
    color: #fff; }
  .ul-check.success li:before {
    color: #71bc42; }
  .ul-check.primary li:before {
    color: #2fc4b2; }

.select-wrap, .wrap-icon {
  position: relative; }
  .select-wrap .icon, .wrap-icon .icon {
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 22px; }
  .select-wrap select, .wrap-icon select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%; }

.top-bar {
  border-bottom: 1px solid #e9ecef !important; }

/* Navbar */
.site-navbar {
  margin-bottom: 0px;
  z-index: 9;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 1rem; }
  @media (max-width: 991.98px) {
    .site-navbar {
      padding-top: 3rem;
      padding-bottom: 3rem;
      padding-left: 0;
      padding-right: 0; } }
  .site-navbar .toggle-button {
    position: absolute;
    right: 0px; }
  .site-navbar .site-logo {
    margin: 0;
    padding: 0;
    font-size: 1.7rem; }
    .site-navbar .site-logo strong {
      font-weight: 900; }
    .site-navbar .site-logo a {
      color: #fff; }
    @media (max-width: 991.98px) {
      .site-navbar .site-logo {
        float: left;
        position: relative; } }
  .site-navbar .site-navigation.border-bottom {
    border-bottom: 1px solid white !important; }
  .site-navbar .site-navigation .site-menu {
    margin: 0;
    padding: 0;
    margin-bottom: 0; }
    .site-navbar .site-navigation .site-menu .active {
      color: #2fc4b2 !important; }
    .site-navbar .site-navigation .site-menu a {
      text-decoration: none !important;
      display: inline-block; }
    .site-navbar .site-navigation .site-menu > li {
      display: inline-block; }
      .site-navbar .site-navigation .site-menu > li > a {
        margin-left: 15px;
        margin-right: 15px;
        padding: 20px 0px;
        color: rgba(255, 255, 255, 0.7);
        display: inline-block;
        text-decoration: none !important; }
        .site-navbar .site-navigation .site-menu > li > a:hover {
          color: #fff; }
      .site-navbar .site-navigation .site-menu > li.active > a {
        color: #2fc4b2; }
    .site-navbar .site-navigation .site-menu .has-children {
      position: relative; }
      .site-navbar .site-navigation .site-menu .has-children > a {
        position: relative;
        padding-right: 20px; }
        .site-navbar .site-navigation .site-menu .has-children > a:before {
          position: absolute;
          content: "\e313";
          font-size: 16px;
          top: 50%;
          right: 0;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          font-family: 'icomoon'; }
      .site-navbar .site-navigation .site-menu .has-children .dropdown {
        visibility: hidden;
        opacity: 0;
        top: 100%;
        position: absolute;
        text-align: left;
        border-top: 2px solid #2fc4b2;
        -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
        padding: 0px 0;
        margin-top: 20px;
        margin-left: 0px;
        background: #fff;
        -webkit-transition: 0.2s 0s;
        -o-transition: 0.2s 0s;
        transition: 0.2s 0s; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
          position: absolute; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
            display: none;
            bottom: 100%;
            left: 20%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
            border-color: rgba(136, 183, 213, 0);
            border-bottom-color: #fff;
            border-width: 10px;
            margin-left: -10px; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown a {
          text-transform: none;
          letter-spacing: normal;
          -webkit-transition: 0s all;
          -o-transition: 0s all;
          transition: 0s all;
          color: #000 !important; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown a.active {
            color: #2fc4b2 !important;
            background: #f8f9fa; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown > li {
          list-style: none;
          padding: 0;
          margin: 0;
          min-width: 200px; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
            padding: 9px 20px;
            display: block; }
            .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover {
              background: #f8f9fa;
              color: #ced4da; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a:before {
            content: "\e315";
            right: 20px; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
            left: 100%;
            top: 0; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:active > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:focus > a {
            background: #f8f9fa;
            color: #ced4da; }
      .site-navbar .site-navigation .site-menu .has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children:focus > a, .site-navbar .site-navigation .site-menu .has-children:active > a {
        color: #2fc4b2; }
      .site-navbar .site-navigation .site-menu .has-children:hover, .site-navbar .site-navigation .site-menu .has-children:focus, .site-navbar .site-navigation .site-menu .has-children:active {
        cursor: pointer; }
        .site-navbar .site-navigation .site-menu .has-children:hover > .dropdown, .site-navbar .site-navigation .site-menu .has-children:focus > .dropdown, .site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
          -webkit-transition-delay: 0s;
          -o-transition-delay: 0s;
          transition-delay: 0s;
          margin-top: 0px;
          visibility: visible;
          opacity: 1; }

.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #fff;
  height: calc(100vh);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out; }
  .offcanvas-menu .site-mobile-menu {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); }
  .site-mobile-menu .site-mobile-menu-header {
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-right: 20px; }
    .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
      float: right;
      margin-top: 8px; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
        font-size: 30px;
        display: inline-block;
        padding-left: 10px;
        padding-right: 0px;
        line-height: 1;
        cursor: pointer;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
          color: #ced4da; }
    .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
      float: left;
      margin-top: 10px;
      margin-left: 0px; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
        display: inline-block;
        text-transform: uppercase; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
          max-width: 70px; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
          text-decoration: none; }
  .site-mobile-menu .site-mobile-menu-body {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: relative;
    padding: 0 20px 20px 20px;
    height: calc(100vh - 52px);
    padding-bottom: 150px; }
  .site-mobile-menu .site-nav-wrap {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative; }
    .site-mobile-menu .site-nav-wrap a {
      padding: 10px 20px;
      display: block;
      position: relative;
      color: #212529; }
      .site-mobile-menu .site-nav-wrap a:hover {
        color: #2fc4b2; }
    .site-mobile-menu .site-nav-wrap li {
      position: relative;
      display: block; }
      .site-mobile-menu .site-nav-wrap li .nav-link.active {
        color: #2fc4b2; }
      .site-mobile-menu .site-nav-wrap li.active > a {
        color: #2fc4b2; }
    .site-mobile-menu .site-nav-wrap .arrow-collapse {
      position: absolute;
      right: 0px;
      top: 10px;
      z-index: 20;
      width: 36px;
      height: 36px;
      text-align: center;
      cursor: pointer;
      border-radius: 50%; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
        background: #f8f9fa; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse:before {
        font-size: 12px;
        z-index: 20;
        font-family: "icomoon";
        content: "\f078";
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%) rotate(-180deg);
        -ms-transform: translate(-50%, -50%) rotate(-180deg);
        transform: translate(-50%, -50%) rotate(-180deg);
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
    .site-mobile-menu .site-nav-wrap > li {
      display: block;
      position: relative;
      float: left;
      width: 100%; }
      .site-mobile-menu .site-nav-wrap > li > a {
        padding-left: 20px;
        font-size: 20px; }
      .site-mobile-menu .site-nav-wrap > li > ul {
        padding: 0;
        margin: 0;
        list-style: none; }
        .site-mobile-menu .site-nav-wrap > li > ul > li {
          display: block; }
          .site-mobile-menu .site-nav-wrap > li > ul > li > a {
            padding-left: 40px;
            font-size: 16px; }
          .site-mobile-menu .site-nav-wrap > li > ul > li > ul {
            padding: 0;
            margin: 0; }
            .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
              display: block; }
              .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
                font-size: 16px;
                padding-left: 60px; }
    .site-mobile-menu .site-nav-wrap[data-class="social"] {
      float: left;
      width: 100%;
      margin-top: 30px;
      padding-bottom: 5em; }
      .site-mobile-menu .site-nav-wrap[data-class="social"] > li {
        width: auto; }
        .site-mobile-menu .site-nav-wrap[data-class="social"] > li:first-child a {
          padding-left: 15px !important; }

.sticky-wrapper {
  position: relative;
  z-index: 100;
  width: 100%;
  position: absolute;
  top: 0; }
  .sticky-wrapper .site-navbar {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
  .sticky-wrapper .site-navbar {
    background: #fff; }
    .sticky-wrapper .site-navbar ul li a {
      color: rgba(255, 255, 255, 0.7) !important; }
      .sticky-wrapper .site-navbar ul li a.active {
        color: #fff !important; }
  .sticky-wrapper.is-sticky .site-navbar {
    background: #fff;
    -webkit-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2); }
    .sticky-wrapper.is-sticky .site-navbar .site-logo a {
      color: #2fc4b2; }
    .sticky-wrapper.is-sticky .site-navbar ul li a {
      color: #000 !important; }
      .sticky-wrapper.is-sticky .site-navbar ul li a.active {
        color: #2fc4b2 !important; }
  .sticky-wrapper .shrink {
    padding-top: 0px !important;
    padding-bottom: 0px !important; }
    @media (max-width: 991.98px) {
      .sticky-wrapper .shrink {
        padding-top: 30px !important;
        padding-bottom: 30px !important; } }

/* Blocks */
.hero {
  position: relative;
  background-size: cover; }
  .hero, .hero > .container > .row {
    height: 100vh;
    min-height: 570px; }
  .hero .intro {
    position: relative;
    z-index: 4; }
    .hero .intro h1 {
      font-size: 50px;
      font-weight: 700; }
      @media (max-width: 991.98px) {
        .hero .intro h1 {
          font-size: 40px; } }
    .hero .intro strong {
      font-weight: 900; }
  .hero.inner-page, .hero.inner-page > .container > .row {
    height: 40vh !important;
    min-height: 200px; }

.custom-breadcrumbs {
  padding-bottom: 40px; }
  .custom-breadcrumbs a {
    color: #000; }
  .custom-breadcrumbs strong {
    font-weight: 700; }

.custom-pagination a, .custom-pagination span {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%; }

.custom-pagination span {
  background: #efefef; }

.custom-pagination a {
  background: #2fc4b2;
  color: #fff; }

.trip-form {
  border-radius: 7px;
  padding: 40px;
  background: #fff;
  position: relative;
  z-index: 3;
  -webkit-box-shadow: 0 15px 30px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 30px 0px rgba(0, 0, 0, 0.1); }
  .trip-form .form-control {
    border-color: rgba(0, 0, 0, 0.2);
    padding-left: 20px;
    padding-right: 20px; }
    .trip-form .form-control:active, .trip-form .form-control:focus {
      border-color: #000; }
  .trip-form .form-control-wrap {
    position: relative; }
  .trip-form .icon {
    position: absolute;
    right: 10px;
    color: #ccc;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 20px; }

.step {
  position: relative; }
  .step .number {
    font-weight: 900; }
  .step > span {
    font-size: 100px;
    color: #2fc4b2;
    font-weight: 900;
    top: 0;
    left: -30px;
    position: absolute; }
  .step .step-inner {
    position: relative;
    padding: 40px;
    -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    font-size: 14px; }
    .step .step-inner h3 {
      font-size: 20px;
      color: #000;
      font-weight: 700; }
    .step .step-inner *:last-child {
      margin-bottom: 0; }
    .step .step-inner p {
      color: #999; }

.play-now .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #2fc4b2;
  position: relative;
  margin-right: 10px;
  display: inline-block; }
  .play-now .icon > span {
    position: absolute;
    top: 50%;
    left: 55%;
    color: #fff;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.play-now .caption {
  position: relative;
  top: -20px;
  display: inline-block;
  font-size: 18px; }

.btn.btn-primary {
  padding: 12px 25px; }

.btn.btn-white {
  background: #fff;
  color: #2fc4b2; }

.opa-7 {
  color: rgba(255, 255, 255, 0.7) !important; }

.section-heading strong {
  font-weight: 700; }

.img-wrap-1 img {
  max-width: 465px; 
  border-radius: 60px;
  border-style:double;
  border-color:#2fc4b2;
  border-width: 10px; }

.social li {
  display: inline-block; }
  .social li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2fc4b2;
    color: #fff;
    position: relative; }
    .social li a > span {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .social li a:hover {
      color: #fff; }

.listing {
  padding: 20px;
  margin-bottom: 30px;
  background: #fff;
  border-radius: 7px; }
  .listing .listing-img {
    width: 100%;
    margin-left: 0px;
    margin-top: -40px;
    margin-bottom: 30px; }
    .listing .listing-img img {
      border-radius: 7px;
      -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1); }
  .listing .listing-contents h3 {
    font-size: 18px;
    font-weight: 900; }
  .listing .listing-contents .rent-price strong {
    color: #2fc4b2;
    font-size: 18px; }
  .listing .listing-contents .listing-feature .number {
    color: #888; }
  .listing .listing-contents .caption {
    color: #000;
    margin-right: 10px; }
  .listing p {
    color: #888;
    font-size: 14px; }

.desc {
  max-width: 500px;
  color: #fff;
  margin-bottom: 30px; }
  .text-center .desc {
    margin: 0 auto 30px auto; }

.services {
  width: 100%;
  background: #2fc4b2; }
  .services .service {
    background: #2fc4b2;
    text-align: center;
    padding: 30px;
    width: 100%;
    display: inline-block; }
    .services .service .icon-wrap {
      margin-bottom: 30px; }
      .services .service .icon-wrap > span {
        font-size: 50px;
        color: #fff;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
    .services .service h3 {
      position: relative;
      padding-bottom: 20px;
      font-size: 18px;
      color: #fff; }
      .services .service h3:before {
        position: absolute;
        content: "";
        width: 40px;
        height: 3px;
        left: 50%;
        bottom: 0;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        background: rgba(255, 255, 255, 0.2);
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
    .services .service:hover {
      background: #fff; }
      .services .service:hover .icon-wrap span {
        color: #2fc4b2; }
      .services .service:hover h3 {
        color: #000; }
        .services .service:hover h3:before {
          background: #2fc4b2; }

.testimonial-2 {
  border-radius: 7px;
  background: #fff;
  padding: 30px;
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1); }
  .testimonial-2 blockquote {
    font-size: 18 px; }
  .testimonial-2 .v-card img {
    width: 50px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50px;
    flex: 0 0 50px;
    border-radius: 50%; }
  .testimonial-2 .author-name {
    line-height: 1.3; }
    .testimonial-2 .author-name > span:nth-of-type(2) {
      color: #ccc; }

.post-entry-1 .post-entry-1-contents .meta {
  margin-bottom: 15px;
  color: #999; }
  .post-entry-1 .post-entry-1-contents .meta a {
    color: #000; }

.post-entry-1 .post-entry-1-contents h2 {
  font-size: 22px;
  margin-bottom: 15px; }
  .post-entry-1 .post-entry-1-contents h2 a {
    color: #000; }

.post-entry-1.person-1 {
  text-align: center; }
  .post-entry-1.person-1 img {
    width: 130px;
    border-radius: 50%;
    margin: 0 auto -45px auto; }
  .post-entry-1.person-1 .post-entry-1-contents {
    padding-top: 4rem; }

.service-2 {
  padding: 20px;
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1); }
  .service-2 .icon-wrap {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100px;
    flex: 0 0 100px;
    font-size: 60px; }
  .service-2 .contents h3 {
    font-size: 20px;
    color: #000; }
  .service-2 .contents p {
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px; }

.site-footer {
  background: #efefef; }
  .site-footer .quick-contact-info .caption {
    font-size: 18px; }
  .site-footer .quick-contact-info .icon-wrap span {
    font-size: 30px; }

.sidebar-box {
  margin-bottom: 30px;
  padding: 25px;
  font-size: 15px;
  width: 100%;
  float: left;
  background: #fff; }
  .sidebar-box *:last-child {
    margin-bottom: 0; }
  .sidebar-box h3 {
    font-size: 18px;
    margin-bottom: 15px; }

.categories li,
.sidelink li {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #dee2e6;
  list-style: none; }
  .categories li:last-child,
  .sidelink li:last-child {
    margin-bottom: 0;
    border-bottom: none;
    padding-bottom: 0; }
  .categories li a,
  .sidelink li a {
    display: block; }
    .categories li a span,
    .sidelink li a span {
      position: absolute;
      right: 0;
      top: 0;
      color: #ccc; }
  .categories li.active a,
  .sidelink li.active a {
    color: #000;
    font-style: italic; }

.comment-form-wrap {
  clear: both; }

.comment-list {
  padding: 0;
  margin: 0; }
  .comment-list .children {
    padding: 50px 0 0 40px;
    margin: 0;
    float: left;
    width: 100%; }
  .comment-list li {
    padding: 0;
    margin: 0 0 30px 0;
    float: left;
    width: 100%;
    clear: both;
    list-style: none; }
    .comment-list li .vcard {
      width: 80px;
      float: left; }
      .comment-list li .vcard img {
        width: 50px;
        border-radius: 50%; }
    .comment-list li .comment-body {
      float: right;
      width: calc(100% - 80px); }
      .comment-list li .comment-body h3 {
        font-size: 20px;
        color: #000; }
      .comment-list li .comment-body .meta {
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: .1em;
        color: #ccc; }
      .comment-list li .comment-body .reply {
        padding: 5px 10px;
        background: #e6e6e6;
        color: #000;
        text-transform: uppercase;
        font-size: 14px; }
        .comment-list li .comment-body .reply:hover {
          color: #000;
          background: #e3e3e3; }

.search-form {
  background: #f7f7f7;
  padding: 10px; }
  .search-form .form-group {
    position: relative; }
    .search-form .form-group input {
      padding-right: 50px; }
  .search-form .icon {
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

.post-meta {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .2em; }
  .post-meta a {
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
/* added css */

/* tools css */
/* tools css */
/* tools css */
body::before{
  content: '';
  position: absolute;
  left: 0%;
  transform: translateX(-50%) skewX(-15deg);
  width: 20px;
  height: 100%;
  background: #966e4f;
  border-left: 60px solid #eae3d2;
  border-right: 30px solid #eae3d2;
  opacity: 0;
  animation: slide-in 2s 1.5s forwards 1;
}

@keyframes slide-in{
  100%{
      opacity: 1;
      left: 50%;
  }
}

.product{
  position: relative;
  width: 100%;
  min-width: 350px;
  min-height: 500px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-img{
  width: 40%;
  height: 500px;
  background: #fff;
  position: relative;
  opacity: 0;
  transform: translateY(-50px);
  animation: fade-in 1s forwards 1;
}

.product-img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  user-select: none;
}

.tag{
  position: absolute;
  top: 20px;
  left: -10px;
  transform-origin: left;
  opacity: 0;
  transform: rotate(-90deg);
  text-transform: capitalize;
  color: #eae3d2;
  padding: 5px 10px;
  width: 100px;
  font-size: 18px;
  text-align: center;
  background: #2fc4b2;
  user-select: none;
  animation: tag .5s 1s forwards 1;
}

@keyframes tag{
  100%{
      opacity: 1;
      transform: rotate(-20deg);
  }
}

.product-listing{
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  min-height: 500px;
  height: auto;
  background: #2fc4b2;
  padding: 40px;
  display: flex;
  justify-content: center;
  color: #eae3d2;
  opacity: 0;
  transform: translateY(50px);
  animation: fade-in 1s forwards 1;
}

@keyframes fade-in{
  100%{
      opacity: 1;
      transform: translateY(0);
  }
}
.name{
  font-family: 'dosis';
  font-size: 70px;
  text-transform: capitalize;
  color: white;
}
.info{
  font-size: 25px;
  line-height: 30px;
  margin: 50px 0;
  color: white;
}
/* search box css */
/* search box css */
/* search box css */
:root {
	--bg: #e3e4e8;
	--fg: #17181c;
	--input: #050505;
	--primary: #000000;
	--dur: 1s;
	/* font-size: calc(16px + (24 - 16)*(100vw - 320px)/(1280 - 320)); */
}
body, input {
	color: var(--fg);
	font: 1em/1.5 Hind, sans-serif;
}
/* body {
	background: var(--bg);
	display: flex;
	height: 100vh;
} */
form, input, .caret {
	margin: auto;
}
.product-listing .xyz {
	position: relative;
	width: 100%;
	max-width: 17em;
}
input, .caret {
	display: block;
	transition: all calc(var(--dur) * 0.5) linear;
}
input {
	background: transparent;
	border-radius: 50%;
	box-shadow: 0 0 0 0.25em inset;
	caret-color: var(--primary);
	width: 2em;
	height: 2em;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
  color: black;
}
input:focus, input:valid {
	background: var(--input);
	border-radius: 0.25em;
	box-shadow: none;
	padding: 0.75em 1em;
	transition-duration: calc(var(--dur) * 0.25);
	transition-delay: calc(var(--dur) * 0.25);
	width: 100%;
	height: 3em;
}
input:focus {
	animation: showCaret var(--dur) steps(1);
	outline: transparent;
}
input:focus + .caret, input:valid + .caret {
	animation: handleToCaret var(--dur) linear;
	background: transparent;
	width: 1px;
	height: 1.5em;
	transform: translate(0,-1em) rotate(-180deg) translate(7.5em,-0.25em);
}
input::-webkit-search-decoration {
	-webkit-appearance: none;
}
label {
	color: #000000;
	overflow: hidden;
	position: absolute;
	width: 0;
	height: 0;
}
.caret {
	background: currentColor;
	border-radius: 0 0 0.125em 0.125em;
	margin-bottom: -0.6em;
	width: 0.25em;
	height: 1em;
	transform: translate(0,-1em) rotate(-45deg) translate(0,0.875em);
	transform-origin: 50% 0;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {	
	:root {
		--bg: #ffffff;
		--fg: #ffffff;
		--input:  #ffffff;
		--primary: #000000;
	}
}

/* Animations */
@keyframes showCaret {
	from {
		caret-color: transparent;
	}
	to {
		caret-color: var(--primary);
	}
}
@keyframes handleToCaret {
	from {
		background: currentColor;
		width: 0.25em;
		height: 1em;
		transform: translate(0,-1em) rotate(-45deg) translate(0,0.875em);
	}
	25% {
		background: currentColor;
		width: 0.25em;
		height: 1em;
		transform: translate(0,-1em) rotate(-180deg) translate(0,0.875em);
	}
	50%, 62.5% {
		background: var(--primary);
		width: 1px;
		height: 1.5em;
		transform: translate(0,-1em) rotate(-180deg) translate(7.5em,2.5em);
	}
	75%, 99% {
		background: var(--primary);
		width: 1px;
		height: 1.5em;
		transform: translate(0,-1em) rotate(-180deg) translate(7.5em,-0.25em);
	}
	87.5% {
		background: var(--primary);
		width: 1px;
		height: 1.5em;
		transform: translate(0,-1em) rotate(-180deg) translate(7.5em,0.125em);
	}
	to {
		background: transparent;
		width: 1px;
		height: 1.5em;
		transform: translate(0,-1em) rotate(-180deg) translate(7.5em,-0.25em);
	}
}
/* search box css finishes */
/* search box css finishes */
/* search box css finishes */
/* tools css */
/* tools css */
/* tools css */
/* scroll behaviour */
html {
  scroll-behavior: smooth;
}
/* scroll behaviour */
/* responsive tools added example */
@media (max-width: 1100px){
  body::before{
      transform: translateX(-50%) skewX(-5deg);
  }
  .product{
      flex-direction: column;
      width: 100%;
      margin: 5vh 0;
  }
  .product-img{
      width: 100%;
      height: 300px;
  }
  .product-listing{
      width: 100%;
      min-height: auto;
  }
  .name,.price{
      font-size: 50px;
  }
  .info{
      font: 16px;
  }
}
/* team css */
html{
  font-family: sans-serif;
  line-height: 1.15;
}
body{
  font-family: 'lato', sans-serif;
  color: #454545;
  font-weight: 300;
  background: #ffffff;
}
/* a{
  color: #333333;
  font-weight: 400;
  outline: none;
  text-decoration: none;
  transition: 0.5s;
} */
/* a:hover,
a:focus{
  outline: none;
  text-decoration: none;
} */
p{
  padding: 0;
  margin: 0 0 15px 0;
  color: #454545;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6{
  padding: 0;
  margin: 0 0 15px 0;
  color: #333333;
  font-weight: 700;
}
img{
  width: 100%;
  height: auto;
}
.tcontainer{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 10%;
  margin-right: auto;
  margin-left: auto;
}
.section-title{
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 27px;
  margin-top: 40px;
  text-align: center;
}
.section-title h1{
  display: inline-block;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
  margin: 0 0 5px;
  position: relative;
}
.section-title h1::before{
  content: '';
  left: 0;
  position: absolute;
  height: 3px;
  right: 32%;
  background-color: #000000;
  bottom: -5px;

}
.tcontainer .section-title h1::before{
  left: 30%;
}
.row{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.column{
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 100%;
  max-width: 100%;
}
.team{
  margin-bottom:30px ;
}
.team .team-img{
  position: relative;
  font-size: 0;
  text-align: center;
}
.team .team-img img{
  width: 160px;
  height: auto;
  border-radius: 100%;
  border: 20px solid #f3f4fa;
}

.team .team-content{
  padding: 80px 20px 20px 20px;
  margin-top: -80px;
  text-align: center;
  background: #2fc4b2;
  border-radius: 10px;
  /* color: white; */
}
.team .team-content h2{
font-size: 25px;
font-weight: 400;
letter-spacing: 2px;
color: white;
}
.team .team-content h3{
  font-size: 16px;
  font-weight: 300;
  color: white;
}
.team .team-content h4{
  font-size: 16px;
font-weight: 300;
letter-spacing: 1px;
font-style: italic;
margin-bottom: 0;
color: white;
}
.team .team-content p{
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
.team .team-social{
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 35px;
  top: 0;
  left:0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, .6);
  transition: all .3s;
  font-size: 0;
  z-index: 1;
  opacity: 0;
}
.team:hover .team-social{
  opacity: 1;
}
.team .team-social a{
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right:5px ;
  padding: 11px 0 10px 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  border-radius: 10px;
  transition: all .3s;
  margin-top: 50px;
}
.team .team-social a.social-tw{
  background: #00acee;
}
.team .team-social a.social-fb{
  background: #3b5998;
}
.team .team-social a.social-li{
  background: #0e76a8;
}
.team .team-social a.social-in{
  background: #3f729b;
}
.team .team-social a.social-yt{
  background: #c4302b;
}
.team .team-social a:last-child{
  margin-right: 0;
}



/* Mobile Responsive */

@media (min-width: 576px){
  .container{
      max-width: 540px;
  }
  .column{
      max-width: 50%;
  }
}
@media (min-width: 768px){
  .container{
      max-width: 720px;
  }
  .column{
      max-width: 33.333333%;
  }
}
@media (min-width: 992px){
  .container{
      max-width: 960px;
  }
  .column{
      max-width: 25%;
  }
}
@media (min-width: 1200px){
  .container{
      max-width: 1140px;
  }
  
}
/* chatbot */
@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

button.chatLauncher {
  animation-duration: 0.5s;
  transition-duration: 0.5s;
  position: fixed;
  bottom: 32px;
  right: 32px;
  z-index: 9999;
  border: 4px solid #00153c;
  padding: 1em;
  border-radius: 8px;
  margin: 0;
  text-decoration: none;
  background-color: #ffffff;
  color: #454545;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: left;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 264px;
  opacity: 0;
}

button.chatLauncher.open {
  animation-name: slideInRight;
  opacity: 1;
}

button.chatLauncher:hover,
button.chatLauncher:focus {
  background-color: rgb(225, 225, 254);
  border: 4px solid #00153c;
}

button.chatLauncher:focus {
  outline: 1px solid #00153c;
  outline-offset: -4px;
}
/* chatbot */